body {

    background: #5c9fd2;

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

    flex-direction: column;

}

#logo{
    float: left;
}

*{

    font-family: cursive;

    box-sizing: padding-box;

}

button{

    float: right;

    background: rgb(35, 174, 202);

    padding: 30px 15px;

    color: #010001;

    border-radius: 5px;

    margin-right: 10px;

    border: none;

}
button:hover{
    color:rgb(39, 2, 248);
    opacity: 0.7;
}
